# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Database
*.sqlite3
db.sqlite3

# Static files
staticfiles/

# Django project settings
.env

# IDE settings
.idea/
.vscode/

#Uploaded media files
kyc_documents/

node_modules/

static/vendor/